[Unit]
Description=Node Exporter

[Service]
ExecStart=ExecStart=/usr/share/prometheus/node_exporter-0.13.0.linux-amd64/node_exporter

[Install]
WantedBy=default.target
